<div #audioBar *ngIf="currentTrack" class="audiobar" [style.bottom.px]="-parentHeight">
  <div class="elapsed-container">
    <div [style.width.%]="percentLoaded" class="percent-loaded"></div>
    <div [style.width.%]="percentElapsed" class="percent-elapsed"></div>
  </div>
  <div class="audiobar-layout">
    <div (click)="toggleAudiobar()" class="audiobar-image">
      <img [src]="currentTrack.image">
    </div>
    <div (click)="toggleAudiobar()" class="audiobar-info-container">
      <div class="audiobar-info">
        <h3>{{ currentTrack.artist }}</h3>
        <h4>{{ currentTrack.song }}</h4>
      </div>
    </div>
    <div class="audiobar-controls-container">
      <div class="audiobar-controls">
        <button ion-button icon-only clear (click)="toggleAudio()" [ngSwitch]="playerStatus" [disabled]="playerStatus === 'loading'" type="button">
          <ion-icon *ngSwitchCase="'paused'" name="play"></ion-icon>
          <ion-icon *ngSwitchCase="'playing'" name="pause"></ion-icon>
          <ion-spinner *ngSwitchCase="'loading'" name="crescent"></ion-spinner>
        </button>
      </div>
    </div>
  </div>
  <div [style.height.px]="parentHeight" class="track-detail-panel">
    <div class="panel-controls">
      <button (click)="toggleAudiobar()">close</button>
    </div>
    <div [style.height.px]="parentHeight / 2" class="image-container">
      <img [class.pause-state]="playerStatus === 'paused'" [class.play-state]="playerStatus === 'playing'" [src]="currentTrack.image" height="90%" />
    </div>
    <div class="track-progress-slider">
      <ion-range min="0" max="100" (ionChange)="seekAudio($event)" [(ngModel)]="percentElapsed"></ion-range>
    </div>
    <div class="track-time-layout">
      <div class="track-time-elapsed">{{ timeElapsed }}</div>
      <div class="track-time-spacer"></div>
      <div class="track-time-remaining">{{ timeRemaining }}</div>
    </div>
    <div class="track-detail-info">
      <div class="marquee">
        <h1 [attr.content]="currentTrack.artist" [marqueeContent]="currentTrack.artist">{{ currentTrack.artist }}</h1>
      </div>
        <h3>{{ currentTrack.song }}</h3>
    </div>
    <div class="track-controls-layout">
        <button ion-button icon-only large clear (click)="previousTrack()" [disabled]="playerStatus === 'loading'" type="button">
          <ion-icon name="rewind"></ion-icon>
        </button>
        <button ion-button icon-only large clear (click)="toggleAudio()" [ngSwitch]="playerStatus" [disabled]="playerStatus === 'loading'" class="controls-pp" type="button">
          <ion-icon *ngSwitchCase="'paused'" name="play"></ion-icon>
          <ion-icon *ngSwitchCase="'playing'" name="pause"></ion-icon>
          <ion-spinner *ngSwitchCase="'loading'" name="crescent"></ion-spinner>
        </button>
        <button ion-button icon-only large clear (click)="nextTrack()" [disabled]="playerStatus === 'loading'" type="button">
          <ion-icon name="fastforward"></ion-icon>
        </button>
    </div>
  </div>
</div>